# Módulos

In [33]:
import pandas as pd

# Importar dados

In [34]:
# Dataframe para trabalhar
df = pd.read_csv('desafio1.csv')
# JSON modelo de resposta
resposta = pd.read_json('submission_modelo.json')

# Visualizar dataframe

In [35]:
# Informações gerais
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   RowNumber                 7000 non-null   int64
 1   id                        7000 non-null   object
 2   sobrenome                 7000 non-null   object
 3   pontuacao_credito         7000 non-null   int64
 4   estado_residencia         7000 non-null   object
 5   genero                    7000 non-null   object
 6   idade                     7000 non-null   int64
 7   nivel_estabilidade        7000 non-null   int64
 8   saldo_conta               7000 non-null   float64
 9   numero_produtos           7000 non-null   int64
 10  possui_cartao_de_credito  7000 non-null   int64
 11  membro_ativo              7000 non-null   int64
dtypes: float64(1), int64(7), object(4)
memory usage: 656.4+ KB

In [36]:
# Quantos estados existem
df.estado_residencia.unique()

array(['SC', 'RS', 'PR'], dtype=object)

In [37]:
# Formato do JSON de resposta
resposta

               SC  RS  PR
moda            0   0   0
mediana         0   0   0
media           0   0   0
desvio_padrao   0   0   0

# Fazer cálculo das métricas pedidas para os determinados estados

In [38]:
# LOOP em todos os estados do JSON resposta
for estado in resposta.columns:
    resposta.loc['moda', estado] = df.loc[df['estado_residencia'] == estado, 'pontuacao_credito'].mode()[0]
    resposta.loc['mediana', estado] = df.loc[df.estado_residencia == estado, 'pontuacao_credito'].median()
    resposta.loc['media', estado] = df.loc[df.estado_residencia == estado, 'pontuacao_credito'].mean()
    resposta.loc['desvio_padrao', estado] = df.loc[df.estado_residencia == estado, 'pontuacao_credito'].std()

# Exportar resultado

In [39]:
resposta.to_json('submission.json')